/* Importando a fonte Montserrat do Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/* Configurações gerais */
:root {
  /* fonts */
  --font-montserrat: 'Montserrat', sans-serif;

  /*** Light theme ***/

  /* Cores Neon */
  --neon-hover: #66D9FF;

  /* Cores de Fundo */
  --background-light: #F0F8FF;

  /* Cores de Texto */
  --light-primary-deep-purple: #A600FF;
  /* --light-primary-neon-blue: #2272FF;*/
  --text-light: #050303;
  --grey: #AAAAAA;

  /*navbar*/
  --main-color: #1e1e83;
  --shadow-color: rgba(0, 0, 0, 0.2);
  --menu-width: 40%;

  /* Outras Cores */
  --light-warning: #fff2c6;
  --light-danger: #fecdd3;
  --light-success: #BBF7D0;


  /*** Dark theme ***/

  /* Cores Neon */
  --neon-pink: #ff00ff;
  --neon-blue: #00ffff;
  --neon-green: #00ff00;

  /* Cores de Fundo */
  --dark-bg: #1a1a1a;

  /* Cores de Texto */
  --text-dark: #333333;

  /* Outras Cores */
  --main-color: #242424;

  /* Cor principal para o tema Dark */
  --shadow-color: rgba(0, 0, 0, 0.3);
  --light-primary-deep-purple: #9c27b0;
}

/* Configurações gerais continuadas */
* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: var(--font-montserrat);
}

/* Estilo para o corpo da página default */
body {
  background: var(--background-light);
  background-size: cover;
  background-position: center;
  min-height: 450px;
  /* width: 100vw; */
  height: 100vh;
  margin: 0;
  position: relative;
}

/* Estilo para o corpo da página dark on */
body.dark-theme {
  background: var(--dark-bg);

}

/* Container global para a pagina */
.container {
  max-width: 1250px;
  width: 86.5%;
  margin: 0 auto;
  justify-content: space-between;
}