/* Importando a fonte Montserrat do Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/* Configurações gerais */
:root {
  /* fonts */
  --font-inter: 'Inter', sans-serif;
  
  /* font sizes */
  --font-size-mini: 15px;
  --font-size-3xs: 10px;
  --font-size-5xs: 8px;
  --font-size-xl: 20px;
  --font-size-xs: 12px;

  /* Dark theme */

  /* Cores Neon */
  --dark-primary-neon-blue: #002AFF;
  --dark-secondary-neon-blue: #00B8FF;
  --dark-neon-green: #00FFB0;
  --dark-neon-purple: #A600FF;

  /* Cores de Fundo */
  --dark-background: #111111;
  --dark-card-background: #1E1E1E;

  /* Cores de Texto */
  --dark-text: #FFFFFF;

  /* Outras Cores */
  --dark-grey: #AAAAAA;
  --dark-danger: #FF4040;
  --dark-warning: #FFD500;
  --dark-success: #00E676;

}

/* Light theme */
:root {
  /* Cores Neon */
  --light-primary-neon-blue: #2272FF;
  --neon-hover: #66D9FF;

  /* Cores de Fundo */
  --background-light: #f8f8f8;

  /* Cores de Texto */
  --dark-grey: #AAAAAA;

  /* Outras Cores */
  --grey: #eee;
  --light-warning: #fff2c6;
  --light-danger: #fecdd3;
  --light-success: #BBF7D0;
}

/* Estilo para o corpo da página */

body {
  background: var(--background-light);
  background-size: cover;
  background-position: center;
  min-height: 450px;
  height: 100vh;
  margin: 0;
}
.container {
  max-width: 1250px;
  width: 90%;
  border: 1px solid red;
  margin: auto;
  justify-content: space-between;
}

/* Configurações gerais continuadas */
* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: var(--font-inter);
}

/* border radiuses */
:root {
  --br-8xs: 5px;
  --br-3xs: 10px;
  --br-xl: 20px;
}
