/* Responsividade mobile */
@media (max-width: 768px) {

    /* Hambúrguer */
    .hamburguer {
        display: block;
    }

    .hamburguer.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburguer.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburguer.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    /* Menu de navegação */
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 70px;
        border-radius: 0 0 20px 20px;
        background-color: var(--background-color-nav);
        text-align: center;
        flex-direction: column;
        transition: left 0.3s;
        z-index: 100;
        box-shadow: 0px 2px 8px var(--shadow-color);
        padding: 10px 0;
        width: 40%;
    }

    .dark-theme .nav-menu {
        color: var(--background-color-dark);
    }

    .nav-item {
        margin: 16px 0;
    }

    /* Menu ativo */
    .nav-menu.active {
        left: 0;
    }

    /* Seção de animes */
    .anime-item {
        flex: 0 0 calc(25% - 20px);
    }
}

/* Banner responsivo */
@media screen and (max-width: 991px) {
    .banner {
        max-height: 60vh;
        height: auto;
    }

    .banner::after {
        display: none;
    }

    .banner-image {
        height: 100%;
        padding: 10px;
    }

    .banner img {
        max-width: 100%;
        max-height: 100%;
        width: auto;
        display: block;
        margin: 0 auto;
    }

    .banner:hover {
        filter: none;
    }

}
/* End of banner */