/* Responsividade mobile */
@media (max-width: 450px) {

    /* Hambúrguer */
    .hamburguer {
        display: block;
    }

    .hamburguer.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburguer.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburguer.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    /* Menu de navegação (navbar) */
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 70px;
        border-radius: 0 0 20px 20px;
        background-color: var(--background-color-nav);
        text-align: center;
        flex-direction: column;
        transition: left 0.3s;
        z-index: 100;
        box-shadow: 0px 2px 8px var(--shadow-color);
        padding: 10px 0;
        width: 40%;
    }

    .dark-theme .nav-menu {
        color: var(--background-color-dark);
    }

    .nav-item {
        margin: 16px 0;
    }

    /* Menu ativo */
    .nav-menu.active {
        left: 0;
    }

    /*End of responsividade navbar*/

    /*Introdução*/

    .intro {
        padding: 30px;
    }

    .intro-title {
        font-size: 19px;
    }

    .intro-description {
        font-size: 13px;
    }

    /* End of Introdução */

    .media-section 
    .section-header,
    .section-description {
        border: 1px solid green;
       
    }

    .container-list {
        border: 1px solid red;
        max-height: calc(100vh - 150px); 
        overflow-y: auto; 
 
    }

    /* Seção de animes   flex: 0 0 calc(25% - 20px);*/

    .section-header {
        margin: 0 10px 10px;
    }

    /*
    .media-section {
        overflow-x: auto;
        margin-bottom: 10px;
        color: var(--light-primary-deep-purple);
        padding: 20px 0;
        position: relative;
    }
    */

    /* Descrição das section */
    .section-description {
        display: block;
        margin-top: 20px;
        text-align: center;
        font-size: 18px;
        font-weight: bold;
    }

    /*


    
    .media-section .anime-item{
        background-color: var(--gray);
        width: 100%;
        border-radius: 5px;
        padding: 15px;
        text-align: center;
        transition: background-color 0.3s ease;
        cursor: pointer;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
        flex: 0 0 calc(25% - 20px);
    }
    
    .anime-item:hover {
        background-color: var(--gray);
        filter: brightness(0.9);
        transition: filter 0.3s ease;
    }
    
    .anime-item img {
        width: 90%;
        max-height: 75%;
        object-fit: cover;
        border-radius: 5px;
        margin-bottom: 10px;
    }
    
    .anime-item h3 {
        font-size: 18px;
        margin: 10px 0;
        color: var(--light-primary-deep-purple);
    }
    
    .anime-item p {
        font-size: 14px;
        color: var(--grey);
    }
    
  */
}

/* Banner responsivo */
@media screen and (max-width: 991px) {
    .banner {
        height: 140px;
        flex-wrap: wrap;
    }

    .banner::after {
        display: none;
    }

    .banner img {
        width: 90%;
        display: block;
        margin: 0 auto;
        margin-top: 0;
        height: 100%;
    }

    .banner:hover {
        filter: none;
    }

}

/* End of banner */