/* Header */
.container-header {
    width: 100%;
    background-color: #ddd;
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.164);
    position: fixed;
    top: 0;
    z-index: 100;
}

.dark-theme .container-header {
    background-color: var(--neon-cyan);
}
/* End of header */

/* Estilo para a barra de navegação (navbar) */
li {
    list-style: none;
    padding: 0 15px;
}

a {
    color: var(--text-light);
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    flex-wrap: wrap;
    height: 70px;
}

.logo {
    color: var(--light-primary-deep-purple);
    font-size: 24px;
    font-weight: 600;
    letter-spacing: -1px;
}

.nav-menu {
    display: flex;
    align-items: center;
    gap: 60px;
}

.nav-link {
    transition: 0.5s ease;
}

.nav-link:hover {
    color: var(--light-primary-deep-purple);
    transition: color 0.2s ease;
}

.nav-link.active {
    color: var(--light-primary-deep-purple);
}

.dark-theme .nav-link:hover {
    color: var(--dark-neon-blue);
}

.hamburguer {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 28px;
    height: 3px;
    border-radius: 2px;
    margin: 5px auto;
    background-color: var(--light-primary-deep-purple);
    transition: all 0.3s ease-in-out;
}

/* End of navbar */

/* Estilos para o botão de mudança de tema */
.theme-toggle {
    position: fixed;
    bottom: 20px;
    right: 20px;
    border-radius: 50%;
    padding: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

/* banner */
.banner {
    width: 100%;
    overflow: hidden;
    height: 60vh;
    object-fit: cover;
    cursor: pointer;
    position: relative;
    display: none;
    margin: auto;
    z-index: 0;
    margin-top: 100px;
}

.banner.active {
    display: block;
}

.banner::after {
    content: "";
    position: absolute;
    bottom: -8px;
    left: 2px;
    width: 100%;
    height: 8px;
   box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.banner-image {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
}

.banner img {
    object-fit: cover;
    display: block;
    margin: 0 auto;
}

.banner:hover {
    filter: brightness(0.8);
    transition: filter 0.3s ease;
}

/* end of banner */

/* Introdução */
@keyframes slide {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.intro {
    padding: 40px;
    text-align: center;
    animation-delay: 3s;
}

.intro-title {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 10px;
    color: var(--light-primary-deep-purple);
    animation: slide 3s ease-in-out;
}

.dark-theme .intro-title {
    color: var(--dark-neon-blue)
}

.intro-description {
    font-size: 18px;
    color: #444;
}

.dark-theme .intro-description {
    color: var(--text-dark)
}

/*End of introdução*/

/*  "View All" link */
.view-all-link {
    font-size: 14px;
    color: var(--grey);
    text-decoration: none;
    margin-left: 30px;
    transition: color 0.3s ease;
}

.view-all-link:hover {
    color: var(--light-primary-deep-purple)
}

.dark-theme .view-all-link:hover {
    color: var(--dark-neon-blue)
}

/* End of View all */

/* Definindo bases para seções de anime */
.section-header {
    margin: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.media-section {
    overflow-x: auto;
    margin-bottom: 10px;
    background-color: var(--white);
    color: var(--light-primary-deep-purple);
    padding: 20px 0;
    position: relative;

    /*add segunda box-shadow*/
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.dark-theme .media-section {
    color: var(--dark-neon-blue);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
}

.media-section .anime-item{
    background-color: var(--gray);
    width: 100%;
    border-radius: 5px;
    padding: 15px;
    text-align: center;
    transition: background-color 0.3s ease;
    cursor: pointer;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    flex: 0 0 calc(25% - 20px);
}

.dark-theme .anime-item {
    /* box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);*/
    box-shadow: 0px 4px 8px rgba(5, 255, 255, 0.5);
}

.anime-item:hover {
    background-color: var(--gray);
    filter: brightness(0.9);
    transition: filter 0.3s ease;
}

.anime-item img {
    width: 90%;
    max-height: 75%;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 10px;
}

.anime-item h3 {
    font-size: 18px;
    margin: 10px 0;
    color: var(--light-primary-deep-purple);
}

.dark-theme .anime-item h3 {
    color: var(--dark-neon-blue);
}

.anime-item p {
    font-size: 14px;
    color: var(--grey);
}

.dark-theme p {
    color: var(--text-dark);
}
/* End of base */

/* Animes em destaques */
.anime-emphasis-list {
    display: flex;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    /* flex-wrap: wrap;*/
    /* Permite que os itens quebrem a linha em telas menores */
    flex-wrap: nowrap;
    /*impede que os anims quebre a linha*/
}

/*End of destaques*/


.manga-emphasis-list {
    display: flex;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    flex-wrap: nowrap;
}

/* Novos lançamentos */
.anime-releases-list {
    display: flex;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}

/* End of novos lançamenos */

.manga-releases-list {
    display: flex;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}

/* Animes populares */
.anime-popular-list {
    display: flex;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}

/* end of Animes populares */

.manga-popular-list {
    display: flex;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}

/* Animes que serão lançados*/
.anime-next-release-list {
    display: flex;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}
/* End of lançados*/

.manga-next-release-list {
    display: flex;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}

/* Descrição das section */
.section-description {
    margin-top: 20px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

/* End of descrição*/

/* Rodapé */
footer {
    background-color: var(--dark);
    color: var(--text-light);
    padding: 20px 0;
    text-align: center;
}

.dark-theme footer {
    color: var(--text-dark);
}


.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-content p {
    font-size: 14px;
    margin: 0;
    margin-bottom: 10px;
}

.social-icons {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 15px;
}

.social-icons li {
    font-size: 20px;
}

.social-icons a {
    color: var(--light-primary-deep-purple);
    text-decoration: none;
    transition: color 0.2s ease;
}

.social-icons a:hover {
    color: var(--light-primary-deep-purple);
}

.dark-theme .social-icons a,
a:hover {
    color: var(--dark-neon-blue);
}

/*End of rodape */